<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Pramirez_escuelaConnection" connectionString="server=cmys2.my-hosting-panel.com;user id=pramirez_parf;password=parf25;database=pramirez_escuela" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>